* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
background-color: #3b1a0f;
display: flex;
justify-content: center;
margin-top: 5rem;
}

h1 {
display: flex;
justify-content: center;
margin-top: 2rem;
}

.container {
width: 37rem;
height: 35rem;
background-color: white;
}

.tabela {
display: flex;
justify-content: space-around;
margin: 5rem 3rem
}

ul {
    list-style-type: none;
}

.calcule {
display: flex;
flex-direction: column;
align-items: center
}

input {
width: 30vw;
border: solid 2px black;
border-radius: 1rem;
}

button {
width: 7rem;
height: 2rem;
border: solid 1px black;
border-radius: 2rem;
background-color: #3b1a0fa1;
color: white;
margin-top: 5px;
cursor: pointer;
}

.paragrafo-resultado {
background: rgb(106, 239, 159);
padding: 10px 10px;
margin-top: 1rem;
}

.bad {
background: rgb(243, 122, 95);
padding: 10px 10px;
margin-top: 1rem;
}